/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Karla:400,400i,700,700i|PT+Serif+Caption:400,400i|PT+Serif:400,400i,700,700i|Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


:root{
    
    --main-text-color: white;
    --second-text-color: black;
}

a:link {
    color: var(--main-text-color);
}

a:visited{
    color: var(--main-text-color);
}

a:hover{
    color: deeppink;
}

a.homepage{
    color: blue;
}

.footers p{
    color: white;
    text-align: center;
}

img.opacitydown:hover{
    opacity: 0.5;
}

a.aboutme:link{
    color: deeppink;
}

a.aboutme:hover{
    color: blue;
}

a.aboutme:visited{
    color: deeppink;
}

body{
    background: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.background.one{
    background-color: black;
}


.background.two{
    background-color: white;
}

.background.three{
    background-color: gainsboro;
}

.background{
    background-color: darkslategrey;
    padding-top: 20px;
    padding-bottom: 20px;
}

h6{
    padding: 0;
    margin: 0;
    font-weight: 700;
}

h1{
    text-align: left;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'PT Serif', serif;
    color: black;
    font-weight: 700;
}

h1.about{
    text-align: left;
    margin: 0;
}

/*make responsive*/
.featuredwork{
    background-color: #efebe8;
    padding-bottom: 20px;
    padding-top: 20px;
}

.featuredwork.white{
    background-color: white;
}


footer.workwithme{
    background-color: darkgrey;
    padding-bottom: 20px;
}

h2{
    padding: 50px;
    color: white;
    text-align: center;
    margin: auto;
}

.links{
    color: white;
    margin: 0;
}


.okies{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
 
}

.top img{
    width: 35%;
    margin: auto;
}

img{
    width: 70%;
}

h3{
    color: white;
    font-weight: 500;
}

.top{
    padding-top: 50px;
    width: 95%;
    margin: auto;
    padding-bottom: 50px;
}

.picturebg{
    background-color: gainsboro;
}

.gridmee{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 576px) {
  h2.smallups {
    display: none;
  }
    .featuredwork{
        padding: 0px!important;
    }
    
    .container{
        padding-bottom: 0px!important;
    }
    
    .row{
        padding-bottom: 0px!important;
    }
    
    .featured.container{
        padding-bottom: 0px!important;
    }
    
}

@media screen and (min-width: 576px) {
  
    .hideme{
        display: none;
    }
}

.contenter {
  position: relative;
  width: 100%;
}

.imgy {
  display: block;
  width: 100%;
  height: auto;
}

.textoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.contenter:hover .textoverlay {
  opacity: .5;
}

.texty {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 992px) {
  .responsivepad {
        padding-bottom: 20px;
        margin: auto;
  }
    .pad2{
        padding-top: 20px!important;
    }
    
    .contenter {
     text-align: center;
    }

    h1{
        text-align: center;
    }
    
     .smalltexthomey{
        text-align: center!important; 
    }
    
    .centergirl img{
        margin: auto;
    }
    
      .workwithme h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .responsivepad {
        padding-bottom: 20px;
        margin: auto;
  }
    .pad2{
        padding-top: 20px!important;
    }
    
    .contenter {
     text-align: center;
    }

    h1{
        text-align: center;
    }
    
    .smalltexthomey{
        text-align: center!important; 
    }
    
    img.resizeimg {
        width: 100%!important;
        margin: auto;
    }
}

.smalltext{
   font-family: 'IBM Plex Mono', monospace;
}

.smalltexthomey{
    font-family: 'IBM Plex Mono', monospace;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
